body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}


.highlight {
    color: #0056b3;
    background-color: #e6f2ff;
    padding: 10px;
    border-left: 5px solid #0056b3;
}


.warning {
    color: red;
    font-weight: bold;
    border: 1px solid red;
    padding: 5px;
    background-color: #ffe6e6;
}