body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-image: url("https://media.istockphoto.com/id/1063793474/photo/sunset-with-sun-and-clouds.webp?a=1&b=1&s=612x612&w=0&k=20&c=Rp0_pFoNIJeT3sf0TbgrWVHdaR9ewsX7UF9jW43xyPA=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}


.highlight {
    color: #06ff12;
    background-color: #000000;
    padding: 10px;
    border-left: 5px solid #0056b3;
}


.warning {
    color: red;
    font-weight: bold;
    border: 1px solid red;
    padding: 5px;
    background-color: #ffe6e6;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
